* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
input,
select {
  outline: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  height: 76px;
  width: 1440px;
}
.navbar > img {
  height: 52px;
  width: 133px;
  flex: 0.2;
}
.nav__menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  flex: 0.8;
}
.nav__menu ul li {
  margin: 20px;
  font-weight: 600;
}

.nav__menu ul li > select {
  border: none;
}

/* header */

header {
  height: 176px;
  width: 1440px;
  padding-top: 20px;
  background: #6f972d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .header__info p,
h3 {
  margin: 10px 0px;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
}

.header__sell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 179px;
  background-color: #fff;
  color: #000;
  border-radius: 0.3rem;
}

.header .header__search {
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 11px 11px 0;
  margin: 1rem;
}

.header__searchIcon {
  padding: 0 1rem;
  color: #ccc;
}

.header .header__search > input {
  width: 778px;
  padding: 0.2rem;
  border: none;
}

header .header__search > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 163px;
  background: #f69033;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.nav__menu ul li > span {
  margin-left: 15px;
}
.nav__menu ul li:last-child {
  color: #b5bda6;
}

.shopping__cart {
  width: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.shopping__cart .cart__items:after {
  content: '2';
  position: absolute;
  background: #f63333;
  top: -15px;
  right: 48px;
  width: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
  font-size: 12px;
  border-radius: 50%;
  color: white;
}

.fas__notification {
  width: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.fas__notification .bell__icon:after {
  content: '20';
  position: absolute;
  background: #f63333;
  height: 1.5rem;
  top: -15px;
  right: 28px;
  width: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
  font-size: 12px;
  border-radius: 50%;
  color: white;
}

/* product */

.product {
  display: flex;
  width: 1123px;
  margin-top: 30px;
}
.product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 30px;
}

.product__description h6 {
  margin: 33px 0;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.product__description p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  padding: 15px 0;
}

.product__content {
  display: flex;
  align-items: flex-start;
  width: 982px;
  margin-left: 100px;
}
.product__content .product__image {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.product__image .product__image1 {
  height: 318px;
  width: 399px;
  object-fit: contain;
}
.product__imageFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__imageFlex .image2 {
  height: 174px;
  width: 187px;
  object-fit: contain;
  margin-right: 26px;
}
.product__imageFlex .image3 {
  height: 145px;
  width: 170px;
  object-fit: contain;
}

.product__info {
  display: flex;
  flex-direction: column;
  width: 563px;
}

.product__infoName {
  border-bottom: 1px solid #f0f0f0;
  margin-right: 30px;
}
.product__infoName > h4 {
  font-family: Poppins;
  font-size: 24px;
  font-style: bold;
  font-weight: 500;
  line-height: 36px;
  color: #22262a;
}

.product__infoName .fas {
  color: #ffc600;
  margin-top: 14px;
  margin-bottom: 14px;
}

.product__infoName .review {
  font-size: 10px;
  color: #ccc;
  margin-left: 17px;
}

.product__infoName .submit__review {
  color: #33a0ff;
  font-size: 13px;
  margin-left: 24px;
}

.product__price {
  border-bottom: 0.5px solid #a0b1c44d;
  margin-right: 30px;
}

.product__infoUnit {
  margin-top: 10px;
}
.product__infoUnit span {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.product__infoUnit .thin {
  color: #a0b1c4;
}
.product__infoPrice h5 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 0.06em;
}
.product__infoPrice__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px 10px 0;
}

.product__infoPrice__order .product__infoPlaces span {
  color: #a0b1c4;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-align: center;
}

.product__infoPrice__order .product__infoPlaces p {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #6f972d;
}

.product__infoColor {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.product__infoColor h5 {
  margin: 19px 0 11px o;
  color: #252b1d;
}
.product__infoColored {
  display: flex;
  justify-content: space-between;
}
.product__infoColored .product__color {
  display: flex;
  flex-direction: column;
}

.product__color .black {
  height: 27px;
  width: 28px;
  margin: 10px;
  background: #252b1d;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__color .white {
  height: 27px;
  width: 28px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__color .red {
  height: 27px;
  width: 28px;
  margin: 10px;
  background: #f63333;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__color .blue {
  height: 27px;
  width: 28px;
  margin: 10px;
  background: #3b96cf;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__color .green {
  height: 27px;
  width: 28px;
  margin: 10px;
  background: #02a48d;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__color .yellow {
  height: 27px;
  width: 28px;
  margin: 10px;
  background: #fbec66;
  box-shadow: 0px 2px 10px 0px #0000001a;
  border-radius: 5px;
  cursor: pointer;
}

.product__order {
  display: flex;
  align-items: center;
  height: 20px;
  width: 55px;
  margin: 30px 29px 23px 0;
}
.product__order label {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.product__order select {
  padding: 0.2rem;
  margin-left: 23px;
  border: 0.5px solid #a0b1c44d;
  cursor: pointer;
}
.product__orderMin span {
  color: #a0b1c4;
}
.product__orderMin label {
  color: #252b1d;
}
.product__infoOrder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.product__infoOrder .product__quality {
  height: 40px;
  width: 123px;
  background: #e1e5ea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product__quality button {
  border: none;
  background: #e1e5ea;
  cursor: pointer;
}

.product__cart {
  display: flex;
  align-items: center;
  margin-right: 94px;
  justify-content: center;
}

.product__cartItem {
  height: 40px;
  width: 123px;
  border-radius: 5px;
  background: #f1f5ea;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.product__cartItem button {
  border: none;
  background: #f1f5ea;
  color: #6f972d;
  margin-left: 0.5rem;
}

.product__cartItem .fas {
  border: none;
  background: #f1f5ea;
  color: #6f972d;
}

.product__cart .product__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 48px;
  background: #f1f5ea;
  border-radius: 5px;
}

.product__heart .far {
  color: #6f972d;
}

.product__request {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.product__request .request {
  height: 53px;
  width: 223px;
  left: 530px;
  top: 848.001708984375px;
  border-radius: 5px;
  color: #6f972d;
  border: 1px solid #6f972d;
  cursor: pointer;
  margin-right: 121px;
}

.button {
  height: 53px;
  width: 179px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6f972d;
  color: #fff;
}

.product__delivery {
  display: flex;
  flex-wrap: wrap;
  width: 328px;
  height: 1106px;
  align-items: center;
  justify-content: flex-start;
}

.product__deliveryHeading h5 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 20px;
  width: 89px;
}

.product__deliveryHeading p,
.product__contact > p {
  height: 150px;
  width: 216px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 20px 101px 20px 0;
}

.product__shippingMethod > h5,
.product__contact > h5 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin: 25px 130px 20px 0;
}

.product__shippingMethod > p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #a0b1c4;
}

.product__shippingMethod ul li {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.06em;
  padding: 5px;
}

.product__contact .product__warranty > h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.product__contact .product__warranty > p {
  margin-bottom: 30px;
}

.product__contact .product__seller > h6 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #20241c;
  padding-top: 10px;
}

.product__contact .product__seller > p {
  margin: 10px;
}
.product__contact .rating > h6 {
  margin-top: 30px;
}

/* product Details */

.product__details {
  margin-left: 100px;
  width: 1138px;

  border-top: 1px solid #f0f0f0;
}

.product__details h6 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.product__brand {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 1012px;
}

.product__brand .delivery {
  margin-top: 40px;
}

.product__brand .warrant {
  margin-bottom: 40px;
}
.product__brandTop {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.product__brandName {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.product__brandName p {
  color: #ccc;
  font-size: 14px;
}
.product__brandName span {
  font-size: 14px;
}
.product__features {
  width: 1138px;
}
.product__featuresRow {
  border: 1px solid #f1f5ea;
  padding: 15px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.product__gallary h6,
.product__features h6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.product__gallaryFull img {
  display: flex;
  height: 407px;
  width: 1140px;
  margin-bottom: 30px;
}

.product__gallaryPair {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product__gallaryPair .imageOne {
  height: 315px;
  width: 550px;
  border-radius: 5px;
  object-fit: fill;
  margin-right: 38px;
}

.product__gallaryPair img {
  height: 316px;
  width: 570px;
  border-radius: 5px;
  margin-left: -11px;
  object-fit: fill;
  margin-bottom: 32px;
}

.product__certificateRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product__certificate h6,
.product__gallary h6 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.product__certificateRow .imageOne {
  height: 315px;
  width: 560px;
  padding: 10px;
  margin-left: -25px;
  border-radius: 5px;
}

.product__certificateRow .imageTwo {
  height: 315px;
  width: 570px;
  padding: 10px;
  border-radius: 5px;
}

.product__reviewHeader {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 1138px;
}

.product__reviewHeader button,
.product__cardHeading button {
  background-color: #6f972d;
  padding: 3px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
}

.product__reviewLeft h6,
.product__reviewRight h6 {
  font-family: Poppins;
  font-size: 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
}
.product__reviewContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product__reviewRight {
  margin-left: 30px;
}

.product__reviewers {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
}
.product__reviewers span {
  color: #e1e5ea;
}

.product__reviewers .rating {
  padding-bottom: 30px;
  margin-left: 30px;
}

.product__reviewers .rating .fas {
  color: #ffc600;
  margin-top: 14px;
  margin-bottom: 14px;
}
.product__reviewers .rating h6,
.rating p {
  font-size: 10px;
}

.product__cardHeading {
  display: flex;
  justify-content: space-between;
  width: 1123px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.product__cards {
  display: flex;
  flex-wrap: wrap;
}

.product__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 3px 10px 0px #0000001a;
  height: 316px;
  width: 227px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.product__card img {
  height: 265px;
  width: 170px;
}

.product__card p {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 600;
}

.product__card p > img {
  height: 10px;
  width: 10px;
  object-fit: contain;
}

/* footer */

footer {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}
footer .footer__image {
  height: 198px;
  width: 283px;
  margin-right: 144px;
}

footer .footer__image p {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 25px;
}

footer .footer__info {
  display: flex;
  padding-right: 80px;
}

.footer__info .about {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer__info .about ul,
.partner ul,
.service ul,
.sell ul,
.contact ul {
  list-style: none;
}

.footer__info .about ul li,
.about ul li,
.partner ul li,
.service ul li,
.sell ul li,
.contact ul li {
  font-size: 10px;
  font-weight: 500;
  line-height: 25px;
}
.footer__info .partner,
.service,
.sell,
.contact {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer__info,
.about h6 .partner h6,
.service h6,
.sell h6,
.contact h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: justified;
}

/* media query */

@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    height: 126px;
    width: 880px;
    padding: 15px;
  }

  header {
    height: 146px;
    width: 880px;
    padding-top: 20px;
    background: #6f972d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav__menu ul {
    display: block;
    height: 100%;
  }

  .header .header__search > input {
    width: 338px;
    padding: 0.2rem;
    border: none;
  }
  .nav__menu ul li {
    margin: 15px;
    font-weight: 600;
  }
  header .header__search > a {
    width: 113px;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .product__content {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 682px;
    margin-left: 3rem;
  }

  .product__image .product__image1 {
    height: 318px;
    width: 399px;
    object-fit: contain;
  }

  .shopping__cart .cart__items:after {
    top: -10px;
    right: 42px;
  }

  .fas__notification .bell__icon:after {
    top: -12px;
    right: 25px;
  }

  .product__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }

  .product__features {
    width: 720px;
  }

  .product__gallaryFull img {
    display: flex;
    height: 15.1rem;
    width: 46.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .product__gallaryPair {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: flex-start;
  }
  .product__gallaryPair .imageOne {
    height: 15.3rem;
    width: 22rem;
    border-radius: 0.3rem;
    object-fit: fill;
    margin-right: 38px;
  }
  .product__gallaryPair img {
    height: 246px;
    width: 390px;
    border-radius: 5px;
    margin-left: -11px;
    object-fit: fill;
    margin-bottom: 32px;
  }

  .product__certificateRow .imageOne {
    height: 215px;
    width: 360px;
    padding: 10px;
    margin-left: -25px;
    border-radius: 5px;
  }

  .product__certificateRow .imageTwo {
    height: 215px;
    width: 370px;
    padding: 10px;
    border-radius: 5px;
  }
  .product__reviewHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 49.25rem;
  }
  .product__reviewContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .product__infoPrice__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 10px 10px;
  }

  .product__contact {
    display: flex;
    width: 700px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product__contact__button {
    width: 20%;
  }
  .product__delivery {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 60%;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .product__details {
    width: 700px;
    border-top: 1px solid #f0f0f0;
    margin-left: 30px;
  }

  .product__brand {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;
  }

  .product__cards {
    display: flex;
    width: 780px;
    flex-wrap: wrap;
  }
  .product__card {
    display: flex;
    flex-wrap: wrap;
    height: 17.5rem;
    width: 10rem;
  }
  .product__card img {
    height: 216px;
    width: 127px;
    object-fit: contain;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
  }

  footer .footer__image {
    height: 198px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  footer .footer__info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    display: none;
    background-color: #fff;
    height: 126px;
    width: 80%;
  }

  /* header */

  header {
    height: 10%;
    width: 100%;
    padding-top: 20px;
    background: #6f972d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header__info {
    width: 100%;
  }
  .header__info h3 {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
  }

  .header__info p {
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
  }
  .header a {
    display: none;
    width: 30%;
  }
  .header .header__search > input {
    width: 100%;
    padding: 0.2rem;
    border: none;
  }
  .nav__menu ul li {
    margin: 15px;
    font-weight: 600;
  }
  header .header__search > a {
    width: 25%;
    font-size: 0.6rem;
    font-weight: 450;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .product__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0rem;
    margin-right: 0.5rem;
  }

  .product__image .product__image1 {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
  }

  .product__imageFlex {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .product__imageFlex .image2 {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
  }

  .product__imageFlex .image3 {
    height: 18rem;
    width: 18.5rem;
    object-fit: contain;
  }

  .shopping__cart .cart__items:after {
    top: -10px;
    right: 42px;
  }

  .fas__notification .bell__icon:after {
    top: -12px;
    right: 25px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
  }
  .product__infoPrice__order {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .product__infoColored {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .product__infoOrder {
    display: flex;
    justify-content: flex-start;
    width: 95%;
  }
  .product__quality button {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .product__cart {
    width: 30%;
    margin-left: 0.4rem;
  }
  .product__request {
    display: flex;
    width: 50%;
    align-items: flex-start;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
  }
  .product__description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    width: 40%;
  }
  .product__delivery {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .product__contact {
    display: flex;
    width: 60%;
    flex-direction: column;
  }
  .product__contact__button {
    width: 100%;
  }

  .product__details {
    width: 90%;
    border-top: 1px solid #f0f0f0;
    margin-left: 30px;
  }
  .product__brand p {
    width: 42%;
  }
  .product__brandTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .product__brandTop .name {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .product__features {
    width: 100%;
  }

  .product__gallaryFull img {
    display: flex;
    height: 10.1rem;
    width: 18.25rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
  }
  .product__gallaryPair {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .product__gallaryPair .imageOne {
    height: 10.3rem;
    width: 18rem;
    border-radius: 5px;
    object-fit: contain;
    /* margin-right: 38px; */
  }
  .product__gallaryPair img {
    height: 10rem;
    width: 18rem;
    border-radius: 5px;
    object-fit: contain;
    margin-bottom: 32px;
  }
  .product__certificateRow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .product__certificateRow .imageOne {
    height: 10.1rem;
    width: 18.25rem;
    padding: 10px;
    border-radius: 5px;
  }

  .product__certificateRow .imageTwo {
    height: 10.1rem;
    width: 18.25rem;
    padding: 10px;
    border-radius: 5px;
  }
  .product__reviewHeader {
    display: flex;
    flex-direction: column;
  }

  .product__reviewLeft img {
    height: 10.1rem;
    width: 18.25rem;
  }
  .product__cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .product__card {
    width: 80%;
  }
  footer .footer__image {
    height: 10.1rem;
    width: 18.25rem;
    margin-right: auto;
    margin-left: auto;
  }
  footer .footer__info {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
